<div class="well col-lg-5 col-lg-offset-2">
  <%= form_tag "/", method: :get, class: "form-horizontal" do %>
    <fieldset>
      <legend>मतदार शोध</legend>
        <div class="form-group">
          <label for="autocomplete" class="col-lg-2 control-label pull-left">शब्द शोधा</label>
          <div class="col-lg-5 pull-left">
            <%= text_field_tag :search, params[:search], class: "form-control search-world pull-left", id: "autocomplete" %>
          </div>
          <%= submit_tag "Submit", class: "btn btn-primary pull-left", value: "शोधा" %>
            <div class="clearfix"></div>
        </div>
    </fieldset>
  <% end %>
</div>
<div class="col-lg-5 col-lg-offset-2 well">
  <div class="table-responsive">
    <table class="table table-hover table-striped matadar-table">
      <caption class="bagawa">मतदार यादी(<%= @matadars.count %>)</caption>
      <thead>
        <tr>
          <th>अ.क्र</th>        
          <th>मतदाराचे नाव</th>        
          <th>यादीतील अ.क्र</th>        
          <th>वय</th>        
        </tr>
      </thead>
      <tbody>
        <% @matadars.each_with_index do |m, idx| %>
        <tr>
          <td><%= idx + 1 %></td>
          <td class="prabhag-list"><%= m.name %></td>
          <td><%= m.list_index %></td>
          <td><%= m.age %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>