<div class="well col-lg-7 col-lg-offset-2">
  <%= form_tag "/", method: :get, class: "form-horizontal" do %>
    <fieldset>
      <legend>Prabhag List</legend>
        <div class="form-group">
          <label for="prabhagFor" class="col-lg-2 control-label">Prabhag List</label>
          <div class="col-lg-5">
            <%= select_tag "prabhag", options_for_select(@prabhags, params[:prabhag]), class: "form-control prabhag-list", id: "prabhagFor" %>
          </div>
        </div>

        <div class="form-group">
          <label for="searchFor" class="col-lg-2 control-label">Search World</label>
          <div class="col-lg-5">
            <%= text_field_tag :search, params[:search], class: "form-control search-world", id: "searchFor" %>
          </div>
        </div>

      <div class="col-lg-1 col-lg-offset-2">
        <%= submit_tag "Submit", class: "btn btn-primary" %>
      </div>
      <div class="clearfix"></div>
    </fieldset>
  <% end %>
</div>
<div class="col-lg-7 col-lg-offset-2 well">
  <div class="table-responsive">
    <table class="table table-hover matadar-table">
      <caption class="bagawa">Matadar List(<%= @matadars.count %>)</caption>
      <thead>
        <tr>
          <th>#</th>        
          <th>Name</th>        
          <th>Address</th>        
          <th>Age</th>        
        </tr>
      </thead>
      <tbody>
        <% @matadars.each_with_index do |m, idx| %>
        <tr>
          <td><%= idx + 1 %></td>
          <td class="prabhag-list"><%= m.name %></td>
          <td><%= m.address %></td>
          <td><%= m.age %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>